@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  src: url();
}


.header {
    height: 50px;
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    /* position: fixed; */
}

.header1 {
    display: flex;
    flex-direction: row;
    width: 33%;
}
.header2 {
    display: flex;
    flex-direction: row;
    width: 33%;
    justify-content: center;
    align-items: center;
}
.header3{
    display: flex;
    flex-direction: row;
    width: 33%;
}
.pekerjaan {
    justify-content: center;
    margin-top: 40px;
}

.profesi {
    text-align: center;
    font-size: 40px;
    /* margin-bottom: 0px; */
}

.containt1 {
    display: flex;
    flex-direction: row;
    gap: 27px;
    justify-content: center;
    align-items: center;
}

.containt2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.box1 {
    height: 180px;
    width: 490px;
    background-color: #D5FFDD;
    border-radius: 40px;
    display: flex;
}

.namatentara {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 0px;
}

.tentara {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pilihtentara {
    width: 240px;
    height: 37px;
    background-color: #399349;
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    border: 0px;
    color: #FFFFFF;
}

.pilih1 {
    padding: 9.5px 0px 9.5px 0px;
    text-align: center;
}

.box2{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.box21{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box211 {
    position: relative;
    width: 235px;
    height: 180px;
    border-radius: 20px;
    background-color: #FFF4DC;
}

.petani {
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto;
    /* height: 10px; */
    padding: 10px 30px 0px 30px;
}

.pilihpetani{
    position: absolute;
    margin-top: 130px;
    margin-left: -207px;
    width: 173px;
    height:  37px;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #E29A00;
}

.box212{
    position: relative;
    width: 235px;
    height: 180px;
    border-radius: 20px;
    background-color: #FFCED7;
}

.pramugari{
    padding: 10px 30px 0px 30px;
}

.pilihpramugari {
    position: absolute;
    margin-top: 130px;
    margin-left: -207px;
    height: 37px;
    width: 172px;
    border-radius: 20px;
    background-color: #FF5573;
    color: #FFFFFF;
    border: none;
}

.box3{
    background-color: #E2F2FF;
    width: 230px;
    height: 392px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}

.fotophotografer{
    margin-top: 25px;
    /* margin-bottom: 13px; */
}

.photografer{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 13px;
}
.photografer1{
    /* width: 133px;
    height: 54px; */
    margin-bottom: 13px;
    margin-left: 48.8px;
    margin-right: 48.5px;
    text-size-adjust: 12px;
    line-height: 18px;
}

.pilihphotografer{
    border: none;
    width: 173px;
    height: 37px;
    border-radius: 15px;
    color: white;
    background-color: #3279AF;
    text-size-adjust: 20px;
}

.containt3{
    align-content: center;
    justify-content: center;
    /* gap: 32px; */
}

.containt31{
    width: 500px;
    height: 392px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    margin-bottom: 32px;
}

.boxdokter{
    display: flex;
    flex-direction: row;
    width: 423px;
    height: 96px;
    justify-content: center;
    align-items: center;
    border: 1px solid #D8D6C1 !important;
    border-radius: 20px;
    background-color: white;
    border-color: #D8D6C1;
}

.fotodokter{
    width: 70px;
    height: 70px;
}
.ketdokter{
    display: flex;
    width: 80%;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
}
.namadokter{
    margin-top: 10px;
    text-size-adjust: 20px;
    line-height: 30px;
    font-weight: 500;
}

.pilihdokter{
    width: 149px;
    height: 22px;
    border-radius: 10px;
    background-color: #D8D6C1;
    color: white;
    border: none;
}

.containt4{
    width: 500px;
    height: 181px;
    display: flex;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.pembalap{
    display: flex;
}
.pembalap1{
    display: flex;
}
.fotopembalap{
    width: 120px;
    height: 120px;
}

.ketpembalap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.namapembalap{
    margin-top: 40px;
    text-size-adjust: 15px;
    font-weight: 500;
}

.pilihpembalap{
    width: 100px;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: #D8D6C1;
}

.pilihpembalap1{
    width: 100px;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: #D8D6C1;
}

@media(max-width: 425px) {
    .header{
        height: 50px;
        width: 100%;
    /* position: absolute; */
        background-color: #D9D9D9;
        display: flex;
    }
    .header1{
        width: 15%;

    }
    .header2{
        font-size: 13px;
    }
    .header3{
        width: 85%;
    }
    .profesi{
        font-size: 32px;
        margin-bottom: 87px;
    }
    .containt1{
        flex-direction: column;
        gap: 34px;
    }
    .box1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 289px;
        height: 299px;
        text-align: center;
    }
    .tentara{
        width: 230px;
    }
    
    .namatentara{
        margin-top: 38px;
    }
    .pilihtentara{
        margin-top: -180px;
        Width: 212.41px;
        Height:45.43px;
    }
    .pilihpetani{
        Width: 212.41px;
        Height:45.43px;
        margin-left: -220px;
    }
    .pilihpramugari{
        Width: 212.41px;
        Height:45.43px;
        margin-left: -220px;
    }
    .containt2{
        flex-direction: column;
    }
    .box2{
        flex-direction: column;
    }
    .box211{
        width: 289px;
        text-align: center;
    }
    .box212{
        width: 289px;
        text-align: center;
    }
    .box3{
        width: 289px;
        padding: 30px 0px;
    }
    .photografer{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .pilihphotografer{
        margin-top: -180px;
        Width: 212.41px;
        Height:45.43px;
    }
    .containt31{
        background-color: transparent;
        margin-top: 27px;
        height: 750px;
        gap: 31px;
        margin-top: 0px;
    }
    .boxdokter{
        Width:288.53px;
        Height:221px;
        flex-direction: column;
        text-align: center;
        background-color: #E9E8E2;
    }
    .ketdokter{
        align-items: center;
    }
    .fotodokter{
        width: 213px;
        height: 213px;
    }
    .namadokter{
        color: transparent;
    }
    .pilihdokter{
        margin-top: -110px;
        width: 212.5px;
        height: 45.5px;
    }
    .containt4{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        height: 612px;
        gap: 34px;
        align-items: center;
        justify-content: flex-start;
    }
    .fotopembalap{
        width: 213px;
        height: 213px;
        margin-top: 5px;
    }
    .pembalap{
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        width: 289px;
        height: 221px;
        border-radius: 20px;
        background-color: #FFDBC5;
    }
    .pembalap1{
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        width: 289px;
        height: 221px;
        border-radius: 20px;
        background-color: #8FC5ED;
    }
    .namapembalap{
        display: none;
    }
    .pilihpembalap{
        margin-top: -65px;
        width: 212px;
        height: 45.5px;
        border-radius: 15px;
        background-color: #E36415;
        color: white;
    }
    .pilihpembalap1{
        margin-top: -65px;
        width: 212px;
        height: 45.5px;
        border-radius: 15px;
        background-color: #275E87;
        color: white;
    }
}
